# ðŸ“Š What is Pandas?

**Pandas** is a powerful open-source Python library used for **data manipulation and analysis**. It provides flexible and efficient data structures that make working with structured data easy and intuitive.

## ðŸ§± Types of Structures in Pandas

Pandas offers two primary data structures:

### 1. Series
- A **Series** is a one-dimensional labeled array.
- It can hold data of any type (integers, strings, floats, Python objects).
- Think of it like a column in a spreadsheet or a single column in a database.

### 2. DataFrame
- A **DataFrame** is a two-dimensional labeled data structure.
- It consists of rows and columns, similar to a table in a relational database or an Excel spreadsheet.
- Each column in a DataFrame is a Series.

In [2]:
# install Pandas
# !pip install pandas

In [ ]:
# Core Data Strcutures in Pandas

In [4]:
import pandas as pd #import the library
s=pd.Series([1, 3, 5, 7, 9]) #create a simple Pandas Series
type(s)

pandas.core.series.Series

In [6]:
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e']) #create a Pandas Series with custom index
s2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
# to Access elements in a Series, we can use the index labels or integer location.
s2['a']

np.int64(10)

In [ ]:
# To create DataFrame
data = {
    "name": ["Doe", "John", "Smith"],
    "age": [25, 30, 22],
    "city": ["New York", "Los Angeles", "Chicago"]
}
# converting dictionary to DataFrame
df = pd.DataFrame(data)
df

    name  age         city
0    Doe   25     New York
1   John   30  Los Angeles
2  Smith   22      Chicago

In [13]:
# To Access columns in DataFrame, we can use the column names as keys.
df['name']

0      Doe
1     John
2    Smith
Name: name, dtype: object

- **Series**: 1-dimensional labeled array  
- **DataFrame**: 2-dimensional labeled table with rows and columns