In [3]:
import pandas as  pd
df=pd.read_csv('data.csv')
df.head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Tom Cruise,Top Gun: Maverick,2022,Action,800,8.4
4,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8

In [ ]:
df.sort_values(by='Actor',ascending=False).head(5) #It will sort the index one by one

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
3,Tom Cruise,Top Gun: Maverick,2022,Action,800,8.4
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
5,Robert Downey Jr.,Avengers: Endgame,2019,Action,2798,8.4
4,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8

In [ ]:
# Convert data type
df["Age"] = df["Age"].astype(int)

In [13]:
df2=df.sort_values(['Actor','IMDb']).copy()
df2.head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
6,Dwayne Johnson,Black Adam,2022,Action,390,6.5
7,Johnny Depp,Pirates of the Caribbean: The Curse of the Bla...,2003,Fantasy,1146,8.1
4,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8
5,Robert Downey Jr.,Avengers: Endgame,2019,Action,2798,8.4

In [ ]:
df2.reset_index(drop=True,inplace=True) #It reset the index from 0,1,2,3,4/....
df2.head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Dwayne Johnson,Black Adam,2022,Action,390,6.5
2,Johnny Depp,Pirates of the Caribbean: The Curse of the Bla...,2003,Fantasy,1146,8.1
3,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8
4,Robert Downey Jr.,Avengers: Endgame,2019,Action,2798,8.4

In [17]:
df2.sort_index().head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Aamir Khan,Dangal,2016,Biography,2024,8.4
1,Dwayne Johnson,Black Adam,2022,Action,390,6.5
2,Johnny Depp,Pirates of the Caribbean: The Curse of the Bla...,2003,Fantasy,1146,8.1
3,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8
4,Robert Downey Jr.,Avengers: Endgame,2019,Action,2798,8.4

In [23]:
df2['Rank']=df2['IMDb'].rank(ascending=False,method='dense')
df2.head(5)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb,Rank
0,Aamir Khan,Dangal,2016,Biography,2024,8.4,2.0
1,Dwayne Johnson,Black Adam,2022,Action,390,6.5,5.0
2,Johnny Depp,Pirates of the Caribbean: The Curse of the Bla...,2003,Fantasy,1146,8.1,3.0
3,Leonardo DiCaprio,Inception,2010,Sci-Fi,292,8.8,1.0
4,Robert Downey Jr.,Avengers: Endgame,2019,Action,2798,8.4,2.0