In [1]:
import pandas as pd

sales = pd.DataFrame({
    "Product": ["Phone", "Phone", "Laptop"],
    "Revenue": [20000, 22000, 60000]
})

regions = pd.DataFrame({
    "Product": ["Phone", "Laptop"],
    "Region": ["India", "India"]
})

merged = sales.merge(regions, on="Product")

summary = merged.groupby("Product")["Revenue"].mean()

merged, summary

(  Product  Revenue Region
 0   Phone    20000  India
 1   Phone    22000  India
 2  Laptop    60000  India,
 Product
 Laptop    60000.0
 Phone     21000.0
 Name: Revenue, dtype: float64)

In [2]:
# Concatenation — stack rows (append) and columns
import pandas as pd

a = pd.DataFrame({"ID":[1,2], "Name":["Aadi","Riya"]})
b = pd.DataFrame({"ID":[3,4], "Name":["Sam","Tina"]})

# vertical stack (rows)
concat_rows = pd.concat([a,b], ignore_index=True)

# horizontal concat (columns) — same length required
c = pd.DataFrame({"Age":[20,22]})
concat_cols = pd.concat([a, c], axis=1)

print("Rows:\n", concat_rows)
print("\nCols:\n", concat_cols)

Rows:
    ID  Name
0   1  Aadi
1   2  Riya
2   3   Sam
3   4  Tina

Cols:
    ID  Name  Age
0   1  Aadi   20
1   2  Riya   22