In [4]:
import pandas as pd
df=pd.read_csv('data.csv')
df.head()

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0

In [5]:
# Column Selection and Filtering in Pandas
df['Actor'].head(5)

0    Shah Rukh Khan
1       Salman Khan
2        Aamir Khan
3     Ranbir Kapoor
4     Ranveer Singh
Name: Actor, dtype: object

In [ ]:
# Suppose u want actors and imdb scores
# this is just a view of the data not a new dataframe
# note: this dosent change the original dataframe
df[['Actor','IMDb']].head(5)

            Actor  IMDb
0  Shah Rukh Khan   7.2
1     Salman Khan   6.0
2      Aamir Khan   8.4
3   Ranbir Kapoor   5.6
4   Ranveer Singh   7.0

In [ ]:
# iloc is used for selecting rows and columns by position
df.iloc[1]

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [ ]:
df.loc[8,'IMDb']  # accessing a particular value using label

np.float64(7.0)

In [17]:
df.loc[0:2,['Actor','IMDb']]  # accessing multiple rows and columns using label

            Actor  IMDb
0  Shah Rukh Khan   7.2
1     Salman Khan   6.0
2      Aamir Khan   8.4

In [22]:
df.at[0,'Actor']  # faster access for a single value
# Reason : we can use iloc and loc for single value access but at and iat are faster for one element access
df.iat[1,2]  # faster access for a single value using position

np.int64(2017)

In [31]:
# Filtering DataFrames
# Run the cells below to see various filtering operations
df[df['IMDb']>8]  # all rows where imdb is greater than 8
df[df['IMDb']>7]['Actor']  # actors with imdb greater than 7
df[df['IMDb']>7][['Actor','IMDb']]  # actors with imdb greater than 7 with their imdb scores
df[df["IMDb"]>6 & (df['Year']>2000)].head(5)  # multiple conditions using & (and) and | (or)

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0

In [ ]:
# query is easy and readable and efficient for complex queries
# sql like syntax
# do not use logical operators use and , or instead use == != < > <= >=
df.query('IMDb > 8')  # using query method for filtering
df.query("IMDb >7 & Year > 2000").head(4)  # multiple conditions using query method
df.query

Empty DataFrame
Columns: [Actor, Film, Year, Genre, BoxOffice(INR Crore), IMDb]
Index: []